$asset-pipeline: true;
$max-width: 1020px;

@import "_normalize";

@import "bourbon";
@import "neat";

@import "_mixins";
@import "_shared";
@import "_lightbox";


$bold: "Helvetica Neue", Helvetica, sans-serif;
$book: "Helvetica Neue", Helvetica, sans-serif;

.clearboth {
	clear: both;
}

.hidden {
	display: none;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

// html { overflow: hidden; height: 100%; }
// body { overflow: auto; height: 100%; }

body {
	background-color: #fff;
}

body, p, a, span, h1, h2, h3 {
	color: #20222b;
}

p, a, span {
	font-family: $book;
}

h1, h2 {
	font-family: $bold;
}

h3 {
	font-family: $book;
}

.container img {
	max-width:100% !important;
	height:auto;
    display:inline-block;
}

h1 {
	font-size: 36pt;
	font-weight: 600;
}

h2 {
	font-size: 32pt;
	font-weight: 600;
	margin-bottom: 0;
}

h3 {
	font-size: 26pt;
	line-height: 28pt;
	font-weight: 300;
}

p, li {
	font-size: 15pt;
	line-height: 24pt;
	font-weight: 200;
}

.int {
	@include outer-container;
}

.cont  {
	width: 100%;
}

.header-container {
	background-image: image-url("video-background.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	z-index: 3;
	height: 715px;

	.video-overlay {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 4;
		opacity: 0;
		overflow: hidden;
	}

	#spilhuset {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 7;
		display: none;
	}
}

.header {
	padding-bottom: 135px;
	position: relative;
	text-align: center;
	z-index: 10;

	.logo {
		display: block;
		padding-top: 150px;
	}

	.title {
		color: #fff;
	}

	.play {
		@include retina-image("play", 31px 31px);
		background-repeat: no-repeat;
		background-position: 0 50%;
		display: inline-block;
		font-size: 16pt;
		height: 31px;
		line-height: 31px;
		color: #fff;
		padding-left: 40px;
	}
}

.navigation {
	$height: 70px;
	height: $height;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 50;
	@include transition(background-color 0.2s ease-in-out);

	.navigation-inner {
		@include outer-container;
	}

	&.sticky {
		background-color: rgba(23, 30, 41, 0.7);
		position: fixed;
		top: 0;

		.logo {
			opacity: 1;
		}
	}

	a {
		color: #fff;
		line-height: $height;
	}

	.left, .right {
		height: 100%;
	}

	.left {
		float: left;
	}

	.logo {
		display: inline-block;
		margin-top: 7px;
		opacity: 0;
		@include transition(opacity 0.2s ease-in-out);

		&:hover {
			opacity: 0.8;
		}
	}

	.right {
		float: right;

		.social {
			display: inline-block;
			float: right;

			a {
				display: inline-block;
				height: $height;
				line-height: $height;
				margin-top: 5px;

				&:hover {
					opacity: 0.8;
				}
			}
		}

		a {
			margin-right: 30px;
			font-size: 14pt;
			line-height: $height;

			&.twitter {
				margin-right: 20px;
			}

			&.facebook {
				margin-right: 0;
			}
		}

		.lang {
			background-repeat: no-repeat;
			background-position: 0 50%;
			background-size: 20px 20px;
			padding-left: 26px;

			&.danish { @include retina-image("flag-dk", 20px 20px); }
			&.english { @include retina-image("flag-uk", 20px 20px); }
		}

		.join {
			border: 2px solid #fff;
			padding: 11px 17px;
			@include transition(all 0.2s ease-in-out);

			&:hover {
				background-color: #fff;
				color: #333;
				text-decoration: none;
			}
		}
	}
}

.place {
	padding: 40px 0;

	.column {
		@include span-columns(6 of 12);
	}
}

.map-container {
	height: 600px;

	iframe {
		width: 100%;
		height: 100%;
	}
}

.offer {
	padding: 40px 0 60px 0;

	.title {
		margin-bottom: 30px;
	}

	.column {
		@include span-columns(6 of 12);
	}

	.scrollandplay {
		@include retina-image("play-small", 16px 15px);
		background-repeat: no-repeat;
		background-position: 0 50%;
		color: #f8349a;
		padding-left: 20px;
	}
}

.slider {
	$screen_width: 495px;
	$screen_height: 340px;

	height: $screen_height + 30px;
	margin-bottom: 15px;
	overflow: hidden;
	position: relative;
	width: $screen_width;

	.images {
		height: $screen_height;
		left: 0;
		position: absolute;
		top: 0;
		@include transition (left 0.2s ease-in-out);
		width: 6 * $screen_width;

		& > a {
			display: block;
			float: left;
			height: $screen_height;
			width: $screen_width;
		}
	}

	.indicator {
		text-align: center;
		position: absolute;
		top: $screen_height + 15px;
		width: $screen_width;

		.bubble {
			display: inline-block;
			$color: #cdced5;
			$size: 15px;
			border: 2px solid $color;
			border-radius: $size/2;
			height: $size;
			margin: 0 0 0 3px;
			width: $size;

			@include transition (all 0.2s ease-in-out);

			&.active {
				background-color: $color;
			}

			&:first-child {
				margin-left: 0;
			}
		}
	}
}

.pricing-container {
	@include retina-image("pricing-background", 2560px 992px, jpg);
	background-repeat: no-repeat;
	background-position: 50% 0;
	position: relative;
}

.pricing {
	

	.model {
		background: #fff;
		height: 445px;
		padding: 40px 10px;
		@include span-columns(4 of 12);
		text-align: center;
		margin-top: 360px;
		@include transition(all 0.2s ease-in-out);

		&:hover {
			margin-top: 340px;
			height: 465px;

			.contact {
				margin-top: 35px;
			}
		}

		.icon {
			height: 60px;
		}

		.name {
			font-size: 22pt;
			font-weight: 600;
			margin: 15px 0 5px 0;
		}

		.short {
			color: #8a8a8a;
			font-size: 14pt;
			margin: 0;
		}

		hr {
			color: #c2c2c2;
			background-color: #c2c2c2;
			border: none;
			height: 2px;
			margin: 10px 45px;
		}

		.price {
			font-weight: 600;
			font-size: 30pt;
			margin: 20px 0 0 0;
			height: 39px;

			span {
				color: #8a8a8a;
				font-size: 16pt;
			}
		}

		.starting {
			color: #8a8a8a;
			font-size: 16pt;
			margin: 0px 0;
		}

		.contact, .learn-more {
			border: 2px solid #20222b;
			display: block;
			padding: 13px 17px;
			margin: 15px 20px;
			@include transition(all 0.2s ease-in-out);

			&:hover {
				text-decoration: none;
			}
		}

		.learn-more {
			border: none;
			color: #fff;
			margin-top: 10px;
		}

		.contact {
			margin-bottom: 0;
		}

	}

	$models: "flexible" #4e3663, "fulltime" #5f2e52, "office" #af5562;

	@each $model in $models {
		$class: nth($model, 1);
		$color: nth($model, 2);
		.model.#{$class} {
			.contact { 
				border-color: $color;
				color: $color;

				&:hover {
					background-color: $color;
					color: #fff;
				}
			}
			.learn-more {
				background-color: $color;

				&:hover {
					background-color: lighten($color, 20%);
				}
			}
		}
	}
	
}

.descriptions {
	.model {
		padding: 0px 10px;
		@include span-columns(4 of 12);
		text-align: center;
		max-height: 1px;
		overflow: hidden;
		@include transition(all 0.2s ease-in-out);

		h3 {
			font-size: 16pt;
			font-weight: 600;
			margin-top: 30px;
		}

		&.open {
			max-height: 1200px;
		}
	}
}

.companies {
	padding: 200px 0 150px 0;

	.company {
		margin-bottom: 50px;
		@include span-columns(4 of 12);
		text-align: center;

		&:nth-child(3n) {
			@include omega;
		}

		a {
			display: inline-block;
		}

		img {
			opacity: 0.5;
			@include transition(opacity 0.2s ease-in-out);
		}

		a:hover img {
			opacity: 1;
		}
	}

	.contact {
		@include span-columns(12 of 12);
		text-align: center;
		margin-top: 30px;

		a {
			$color: #c2c2c2;
			border: 2px solid $color;
			color: $color;
			font-size: 14pt;
			padding: 13px 50px;
			@include transition(all 0.2s ease-in-out);

			&:hover {
				$hcolor: darken($color, 30%);
				background-color: $hcolor;
				border-color: $hcolor;
				color: #fff;
				text-decoration: none;
			}
		}
	}
}

.footer-container {
	background-color: #f8f9ff;
}

.footer {
	padding: 50px 10px;

	.location {
		float: left;

		.map {
			float: left;
			margin-right: 30px;
		}

		.physical {
			float: left;
			padding-top: 40px;
		}

		.company {
			font-weight: $bold;
			font-size: 16pt;
			margin: 0px 0 5px 0;
		}

		.address {
			margin: 0;
			color: #8f8f8f;
			font-size: 12pt;
			line-height: 1.5em;
		}
	}

	.getintouch {
		float: right;

		.button {
			background-position: 0 50%;
			background-repeat: no-repeat;
			display: block;
			color: rgb(45, 43, 39);
			font-weight: $bold;
			font-size: 18pt;
			padding: 12px 0;
			padding-left: 58px;

			&.twitter {
				@include retina-image("social-twitter", 39px 32px);
				background-position: 5px 50%;
			}

			&.facebook {
				@include retina-image("social-facebook", 24px 41px);
				background-position: 10px 50%;
			}

			&.email {
				@include retina-image("social-email", 44px 32px);
			}
		}
	}
}

@include media(max-width 670px) {
	.footer {
		.location  {
			@include span-columns(12 of 12);
			text-align: center;

			.map {
				@include span-columns(12 of 12);		
				margin-right: 0;		
			}

			.physical {
				@include span-columns(12 of 12);
				@include omega;
				padding-top: 10px;
			}
		}

		.getintouch {
			@include span-columns(12 of 12);
			@include omega;
			text-align: center;
			margin-top: 30px;
			
			.button {
				display: block;
				margin: 10px auto;
				width: 200px;
				text-align: left;
			}
		}
	}
}

